<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>menu</title>
</head>
<body>
    <heade>
        <nav class="nav-bar">
            <div class="logo">
                <h1>logo</h1>
            </div>
            <a th:href="@{/FormPersonagem}" class="btn btn-primary btn-sm mb-3"> Cadastrar personagem </a>
            <a th:href="@{/ListaPersonagem}" class="btn btn-primary btn-sm mb-3"> Listar Personagem </a>
            <a th:href="@{/Sessao}" class="btn btn-primary btn-sm mb-3"> Sessao</a>
            <div class="nav-list">
                <ul>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Inicio</a>
                    </li>
                </ul>
            </div>
        </nav>
    </heade>
</body>
</html>